body {
    margin: 0;
    padding: 0;
}


.header-text {
    display: flex;
    font-size: 30px;
    margin-left: 35px;
    margin-top: 20px;
    font-family: cursive;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 80vh;
}

.container-title {
    color: #333;
    font-family: cursive;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 10px;
}

.container-description {
    color: #6f6a6a;
    font-family: cursive;
    font-size: 24px;
    font-weight: 400;
}

.primary-btn {
    color: #FFF;
    background-color: black;
    padding: 20px 30px;
    font-family: cursive;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 10px;
}

.image {
    width: 540px;
    height: 415px;

}

.footer-text {
    color: #BDBDBD;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:576px) {
    .container {
        flex-direction: column-reverse;
    }
    .container-title{
        margin-left: 25px;
        font-size: 40px;
    }
    .container-description{
        font-size: 18px;
        margin: 10px;
    }

    .image {
        width: 375px;
        height: 349px;
        margin-top: 180px;
    }
    .primary-btn {
        margin: 25px;
    }
    .footer-text {
    
        margin-top: 140px;
    }
}