body {
    margin: 0;
    padding: 0;
}


.header-text {
    display: flex;
    font-size: 30px;
    margin-left: 25px;
    margin-top: 20px;
    font-family: cursive;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 80vh;
}

.container-title {
    color: #333;
    font-family: cursive;
    font-size: 64px;
    font-weight: 700;
}

.container-description {
    color: #6f6a6a;
    font-family: cursive;
    font-size: 24px;
    font-weight: 400;
}

.primary-btn {
    color: #FFF;
    background-color: black;
    padding: 20px 35px;
    font-family: cursive;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 10px;
}

.image {
    height: 400px;
    width: 400px;

}